*{
    padding: 0;
    margin: 0;
}
section{
    width: 1600px;
    padding: 0px 120px;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;

}
nav ul li{
    list-style: none;
    display: inline;
    
}

nav button{
    background-color: #469165;
    color: white;
    border-radius: 4px;
    border: none;
    width: 164px;
    height: 44px;
    font-weight: 600;
}


/* hero-section */
.hero-section{
    background-image: url(./images/hero-bg.png);
    padding: 70px 120px 134px 120px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hero-section .btn-1{
    background-color: white;
    color: #469165;
    border-radius: 10px;
    border: none;
    padding: 8px 12px;
    margin-bottom: 24px;
}


.hero-section h1{
    font-size: 72px;
    font-weight: 700;
    color: white;
    line-height: 84px;
    word-spacing: 8px;
}

.hero-section span{
    color: #469165;
    font-size: 72px;
    font-weight: 700;
}
.hero-section p{
    font-size: 18px;
    color: white;
    line-height: 24px;
    margin-bottom: 32px;
}

.hero-section .btn-2{
    background-color: #469165;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 12px 16px ;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.hero-section .btn-3{
    background-color: transparent;
    color: white;
    border: none;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
}

.notes-section{
    text-align: center;
    margin-top: 60px;
}
.notes-section .note-cards{
    display:flex;
    justify-content: space-around;
}

.notes-section h1{
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    margin-bottom: 16px;

}

.notes-section p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 44px;
    
}
.cards{
    width: 322px;
    height: px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #e2dfdf;
    padding: 24px;
    
}
.cards img{
    background-color: #F95555;
    padding: 10px;
    border-radius: 50%;
    
}

.cards h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    
    
}

/* brain-section */

.brain-section{
    display: flex;
    gap: 60px;
    margin-top: 120px;
    
}

.brain-section h3{
    font-size: 16px;
    font-weight: 400;
    color: #469165;
    line-height: 20px;
}
.brain-section h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.brain-info{
    width: 700px;
    padding: 102px 0;
}
.brain-info span{
    font-size: 16px;
    color: #627382;
    
}

.brain-info p{
    margin-bottom: 16px;
    font-size: 16px;
    margin-right: 6px;
    font-weight: 400;
    margin-top: 40px;
}

.early-section{
   text-align: center;
   padding: 120px;

   
}
.early-section-info{
    background-color: #F7F6F2;
    padding: 80px 40px;
}

.early-section-info h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.early-section span{
    display: block;
    color: #627382;
    font-size: 16px;

    line-height: 24px;

}

.early-section-info button{
    background-color: #469165;
    color: white;
    border-radius: 4px;
    border: none;
    width: 164px;
    height: 44px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;

}